.nav {
    grid-area: n;
    background-color: rgb(241, 106, 186);
    color: green;
};
/* why .local doesnt work without .kgkgckgc or only if i write color on .nav only i cAN CHANGE THE COLOR OF .local */
.kgkgckgc {

}

.local {
    color: rgb(116, 50, 116);
}
